<section id="pageWrap" class='contact-company'>
  <div class="page-header">
    <span><a href="/">На главную</a> <strong> >> </strong> Диджитал Сервис</span>
  </div>
  <div class="container">
    <div class="page-text">
        <legend align="center"><h2 class="block-title">
          <span><b>Форма</b> Обратной связи</span> <small><a href="javascript:void(0);">Диджитал Сервис</a></small>
        </h2></legend>
        <div id="backcall" class="row">
          <%= form_for(@message) do |f| %>
          <div class="col-md-4">
            <input class="form-control" name="message[name]" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Ваше Имя" type="text">
            <input class="form-control" name="message[email]" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Ваш Контакт" type="text">
            <input class="form-control" name="message[subject]" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Тема обращения" type="text">
            <input class="form-control" value="Отправить" type="submit">
          </div>
          <div class="col-md-8">
            <textarea name="message[description]" rows="7" class="form-control" aria-invalid="false" placeholder="Ваше обращение"></textarea>
          </div>
          <%end%>
        </div>        
        <legend align="center"><h2 class="block-title">
          <span><b>Мы</b> На карте</span> <small><a href="javascript:void(0);">Диджитал Сервис</a></small>
        </h2></legend>
        <div id="map">
          <%=@mapcompany.description.html_safe%>
        </div>
        <legend align="center"><h2 class="block-title">
          <span><b>Реквизиты</b> Компании</span> <small><a href="javascript:void(0);">Диджитал Сервис</a></small>
        </h2></legend>
        <div class='rekvizit'>
          <%= @rekviziti.description.html_safe %>
        </div>
    </div>
  </div>
</section>