  <!-- MENU --> 
  <section id="information">
    <div id='pageWrap'>
      <div class="page-header">
        <span><a href="/">На главную</a> <strong> >> </strong> <%=@informationpage.title%></span>
      </div>
    </div>
    <%=@informationpage.description.html_safe%>
  </section>
  <!-- // MENU -->