<% content_for :aside do %>
  <!-- SIDE MENU -->
  <aside class="header">
    <div class="nav-side-menu">
      <div class="brand"><a href="/"><i class="fa fa-home fa-lg"></i> <span>На главную</span></a></div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
          <ul id="menu-content" class="menu-content collapse out">
            <li><a href="/#service">УСЛУГИ & ЦЕНЫ</a></li>
            <li><a href="/#aboutcompany">О КОМПАНИИ</a></li>
            <li><a href="/messages">КОНТАКТЫ</a></li>
            <li><a href="/information/index">ИНФОРМАЦИЯ</a></li>
          </ul>
        </div>
    </div>
  </aside><!-- // SIDE MENU -->
<%end%>