<section id="menu">
    <div class="container">
      <header class="clearfix">
        <style type="text/css">
          .logo {
            background-image: url(<%=@logo.image.url%>);
          }
        </style>
        <div class="logo">
        <div class="phone"><i class="fa fa-phone" aria-hidden="true"></i> 7 <u>(</u>4742<u>)</u> 35 63 10</div>
        </div>
        <nav class="social">
          <div><a href=""><i class="fa fa-vk" aria-hidden="true"></i></a></div>
          <div><a href=""><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a></div>
          <div><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
        </nav>
      </header> 
      <div class="main">
        <nav id="cbp-hrmenu" class="cbp-hrmenu">
          <ul>
            <li>
              <a href="#">Информация</a>
              <div class="cbp-hrsub">
                <div class="cbp-hrsub-inner"> 
                  <div>
                    <h4>Общая информация</h4>
                    <ul>
                      <li><a href="#">Новости</a></li>
                      <li><a href="#">Отзывы</a></li>
                    </ul>
                  </div>
                  <div>
                    <h4>Работа</h4>
                    <ul>
                      <li><a href="#">Вакансии</a></li>
                    </ul>
                    <h4>Сотрудничество</h4>
                    <ul>
                      <li><a href="#">Партнеры</a></li>
                    </ul>
                  </div>
                  <div>
                    <h4>Портфолио</h4>
                    <ul>
                      <li><a href="#">Реализованные проекты</a></li>
                    </ul>
                  </div>
                </div><!-- /cbp-hrsub-inner -->
              </div><!-- /cbp-hrsub -->
            </li>
            <li>
              <a href="#">Решения Для Бизнеса</a>
              <div class="cbp-hrsub">
                <div class="cbp-hrsub-inner">
                  <div>
                    <h4>Консалтинг &amp; Контроль</h4>
                    <ul>
                      <li><a href="#">Консалтинг офисной техники</a></li>
                      <li><a href="#">Контроль и управление печатью</a></li>
                    </ul>
                    <h4>Обслуживание &amp; Ремонт</h4>
                    <ul>
                      <li><a href="#">Серверное оборудование</a></li>
                      <li><a href="#">IT - Аутсорсинг</a></li>
                    </ul>
                  </div>
                  <div>
                    <h4>Системы Управления Бизнесом</h4>
                    <ul>
                      <li><a href="#">Service Desk</a></li>
                      <li><a href="#">Red Mine</a></li>
                  </ul>
                  </div>
                  <!--
                  <div>
                    <h4>Games</h4>
                    <ul>
                      <li><a href="#">Catch the Bullet</a></li>
                      <li><a href="#">Snoopydoo</a></li>
                      <li><a href="#">Fallen Angel</a></li>
                      <li><a href="#">Sui Maker</a></li>
                      <li><a href="#">Wave Master</a></li>
                      <li><a href="#">Golf Pro</a></li>
                    </ul>
                  </div>
                  -->
                </div><!-- /cbp-hrsub-inner -->
              </div><!-- /cbp-hrsub -->
            </li>
            <li>
              <a href="#">Услуги</a>
              <div class="cbp-hrsub">
                <div class="cbp-hrsub-inner"> 
                  <div>
                    <h4>Learning &amp; Games</h4>
                    <ul>
                      <li><a href="#">Catch the Bullet</a></li>
                      <li><a href="#">Snoopydoo</a></li>
                    </ul>
                    <h4>Utilities</h4>
                    <ul>
                      <li><a href="#">Gadget Finder</a></li>
                      <li><a href="#">Green Tree Express</a></li>
                      <li><a href="#">Green Tree Pro</a></li>
                      <li><a href="#">Wobbler 3.0</a></li>
                      <li><a href="#">Coolkid</a></li>
                    </ul>
                  </div>
                  <div>
                    <h4>Education</h4>
                    <ul>
                      <li><a href="#">Learn Thai</a></li>
                      <li><a href="#">Math Genius</a></li>
                      <li><a href="#">Chemokid</a></li>
                    </ul>
                    <h4>Professionals</h4>
                    <ul>
                      <li><a href="#">Success 1.0</a></li>
                      <li><a href="#">Moneymaker</a></li>
                    </ul>
                  </div>
                </div><!-- /cbp-hrsub-inner -->
              </div><!-- /cbp-hrsub -->
            </li>
            <li>
              <a href="#">Утилизация</a>
              <div class="cbp-hrsub">
                <div class="cbp-hrsub-inner"> 
                  <div>
                    <h4>Learning &amp; Games</h4>
                    <ul>
                      <li><a href="#">Catch the Bullet</a></li>
                      <li><a href="#">Snoopydoo</a></li>
                      <li><a href="#">Fallen Angel</a></li>
                      <li><a href="#">Sui Maker</a></li>
                      <li><a href="#">Wave Master</a></li>
                      <li><a href="#">Golf Pro</a></li>
                    </ul>
                    <h4>Utilities</h4>
                    <ul>
                      <li><a href="#">Gadget Finder</a></li>
                      <li><a href="#">Green Tree Express</a></li>
                    </ul>
                  </div>
                  <div>
                    <h4>Entertainment</h4>
                    <ul>
                      <li><a href="#">Gadget Finder</a></li>
                      <li><a href="#">Green Tree Express</a></li>
                      <li><a href="#">Green Tree Pro</a></li>
                      <li><a href="#">Holy Cannoli</a></li>
                      <li><a href="#">Wobbler 3.0</a></li>
                      <li><a href="#">Coolkid</a></li>
                    </ul>
                  </div>
                </div><!-- /cbp-hrsub-inner -->
              </div><!-- /cbp-hrsub -->
            </li>
            <li>
              <a href="#">Контакты</a>
              <div class="cbp-hrsub">
                <div class="cbp-hrsub-inner"> 
                  <div>
                    <h4>Utilities</h4>
                    <ul>
                      <li><a href="#">Green Tree Pro</a></li>
                      <li><a href="#">Wobbler 3.0</a></li>
                      <li><a href="#">Coolkid</a></li>
                    </ul>
                    <h4>Education</h4>
                    <ul>
                      <li><a href="#">Learn Thai</a></li>
                      <li><a href="#">Math Genius</a></li>
                      <li><a href="#">Chemokid</a></li>
                    </ul>
                  </div>
                  <div>
                    <h4>Professionals</h4>
                    <ul>
                      <li><a href="#">Success 1.0</a></li>
                      <li><a href="#">Moneymaker</a></li>
                    </ul>
                  </div>
                  <div>
                    <h4>Learning &amp; Games</h4>
                    <ul>
                      <li><a href="#">Catch the Bullet</a></li>
                      <li><a href="#">Snoopydoo</a></li>
                      <li><a href="#">Fallen Angel</a></li>
                      <li><a href="#">Sui Maker</a></li>
                      <li><a href="#">Wave Master</a></li>
                      <li><a href="#">Golf Pro</a></li>
                    </ul>
                  </div>
                </div><!-- /cbp-hrsub-inner -->
              </div><!-- /cbp-hrsub -->
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <%= javascript_include_tag 'cbpHorizontalMenu.min' %>

    <script>
      $(function() {
        cbpHorizontalMenu.init();
      });
    </script>
</section>
    

<section id="sliderWrap">
  <div class="container">
      <div id="metaslider" class="flexslider">
        <ul class="slides">
          <li class="flex-active-slide">
            <img src="https://demo.gridgum.com/wordpress/computer-repair/wp-content/uploads/2014/04/slide1-941x318.png" alt="slide1" class="slider-38 slide-42" draggable="false" width="1170" height="396">
            <div class="caption-wrap">
              <div class="caption">
                <h2>TABLETS &amp; PHONES <span>REPAIR SERVICE</span></h2>
                <h3>anytime anywhere</h3>
                <a class="button" href="#">read more</a>
              </div>
            </div>
          </li>
          <li class="">
            <img src="https://demo.gridgum.com/wordpress/computer-repair/wp-content/uploads/2014/04/slide2-941x318.png" alt="slide2" class="slider-38 slide-43" draggable="false" width="1170" height="396">
            <div class="caption-wrap">
              <div class="caption">
                <h2>Office equipment <span>SERVICE &amp; SUPPORT</span></h2>
                <h3>starting from $29.95/month</h3>
                <a class="button" href="#">read more</a>
              </div>
            </div>
          </li>
          <li  class="">
            <img src="https://demo.gridgum.com/wordpress/computer-repair/wp-content/uploads/2014/04/slide3-941x318.png" alt="slide3" class="slider-38 slide-44" draggable="false" width="1170" height="396">
            <div class="caption-wrap">
              <div class="caption">
                <h2>computer <span>REPAIR &amp; SUPPORT</span></h2>
                <h3>starting from $19.95/month</h3>
                <a class="button" href="#">read more</a>
              </div>
            </div>
          </li>
        </ul>
      </div>

  </div>
</section>