<%= render 'shared/page'%>
<section id="pageWrap" style="margin-top: -90px">
  <div class="container">

    <div class="page-text">
    <%= @footerprice.slave.html_safe if @page.cartridge %>
    <%= @footerprice.description.html_safe %>
    </div>

  </div>
</section> 