                    <ul>
                      <li><a href="/pages/utilize">Утилизируем технику & Мебель</a></li>
                    </ul>
                  </div>
                </div>
              </div><!-- /cbp-hrsub -->
            </li>
            <li>
              <a href="#">Наши Цены</a>
              <div class="cbp-hrsub">
                <div class="cbp-hrsub-inner"> 
                  <div>
                    <h4>Копировально Множительная Техника</h4>
                    <ul>
                      <li><a href="/prices/1">Копировальные аппараты</a></li>
                      <li><a href="/prices/4">Ризографы</a></li>
                      <li><a href="/prices/2">Принтеры</a></li>
                      <li><a href="/prices/3">Факсы</a></li>
                    </ul>
                    <h4>Компьютерная техника</h4>
                    <ul>
                      <li><a href="/prices/8">Серверное оборудование</a></li>
                      <li><a href="/prices/9">Системные блоки</a></li>                      
                      <li><a href="/prices/7">Ноутбуки</a></li>
                    </ul>
                  </div>
                  <div>
                    <h4>Заправка и восстановление картриджей</h4>
                    <ul>
                      <li><a href="/prices/13">Hewlett-Packard</a></li>
                      <li><a href="/prices/14">Canon</a></li>
                      <li><a href="/prices/15">Samsung</a></li>
                      <li><a href="/prices/16">Xerox</a></li>
                      <li><a href="/prices/17">Kyocera–Mita</a></li>
                      <li><a href="/prices/18">Цветная лазерная печать</a></li>
                    </ul>
                  </div>
                  <div>
                    <h4>Мобильные устройства</h4>
                    <ul>
                      <li><a href="/prices/10">Смартфоны & планшеты</a></li>
                      <li><a href="/prices/11">Электронные книги</a></li>
                    </ul>
                    <h4>Прочее</h4>
                    <ul>
                      <li><a href="/prices/5">Мониторы</a></li>
                      <li><a href="/prices/6">ИБП</a></li>
                      <li><a href="/prices/12">Периферия | Настройка | Данные</a></li>
                    </ul>
                  </div>

                </div><!-- /cbp-hrsub-inner -->
              </div><!-- /cbp-hrsub -->
            </li>
          </ul>
        </nav>
      </div>
    </div>
</section>
<!-- // MENU -->
<hr style="border-bottom: 4px solid #47a3da;">