<section id="information">
  <div id='pageWrap'>
    <div class="page-header">
      <span><a href="/">На главную</a> <strong> >> </strong> СЕРТИФИКАТЫ</span>
    </div>
  </div>
  <% content_for :title, " | сертифицированный сервисный центр в Липецке | СЕРТИФИКАТЫ Инженеров | СЕРТИФИКАТЫ Компании Диджитал Сервис " %>
  <div class="page-text container-fluid">
      <legend><h2 class="block-title">
        <span><b>Диджитал</b> сервис</span> <small><a href="javascript:void(0);">сертифицированный центр</a></small>
      </h2></legend>
      <div class="content">
        <h2>Сертификаты компании</h2>
        <hr>
        <div class='row'>
        <%count=0;@cert_company.sort_by(&:sort).each do |cert| %>
        <%= count>=4? (count=1;'</div><div class="row">'.html_safe) : (count+=1;'') %>
          <div class="col-sm-3">
            <%= image_tag cert.image.url, class: 'img-responsive gallery-img',alt: cert.title if cert.image_stored? %>
          </div>
        <%end%>
        </div>
        <h2>Сертификаты инженеров</h2>
        <hr>
        <div class='row'>
        <%count=0;@cert_company.sort_by(&:sort).each do |cert| %>
        <%= count>=4? (count=1;'</div><div class="row">'.html_safe) : (count+=1;'') %>
          <div class="col-sm-3">
            <%= image_tag cert.image.url, class: 'img-responsive gallery-img',alt: cert.title if cert.image_stored? %>
          </div>
        <%end%>
        </div>  
      </div>
  </div>
</section>