
#utilize,#footer, #brands {
  background-color: #EBF0F3;
}
#service {
  background-image: url(background.jpg)
}

#menu {
  background-color: #FFF; 
}


/* IFRAME */
#myiFrame {
  height: 521px;
  position: absolute;}
@-moz-document url-prefix() {
 #myiFrame {height: 501px;}
}/* // IFRAME */

.content {
  background-color: #fff;
}
.authlogos {
  display: inline-block;
}
.logo-baner {
  display: inline-block;
  margin: 0 auto;
  max-width: 480px;
}

hr {
  padding:0;
  margin:0;
}
.underline-hero {
  width: 100%;
  height: 1px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
}

#sliderWrap {
  background-image: url(backslide.gif);
  margin-top: 24px;
}
#preloader { 
  position: fixed; 
  left: 0; 
  top: 0; 
  z-index: 999; 
  width: 100%; 
  height: 100%; 
  overflow: visible; 
  background: #fff url(loading.gif) no-repeat center center;
}

.mission {
  text-transform: uppercase;
  font-weight: bold;
  margin: -10px 0 70px 0;
}
.inner {
  //border-bottom: 2px solid #3A82B0;
}

h2 small {
  border-left: 1px solid #3A82B0;
  padding-left: 10px;
  right: 110px;
}
.title {
  text-align: center;
}
.margtop30 {
  margin-top: 30px;
}
.margtop50 {
  margin-top: 50px; 
}
.margtop70 {
  margin-top: 70px; 
}
.margbottom30 {
  margin-bottom: 30px;
}

legend {
  h2 span {
    border-bottom: 2px solid #2C6EBD;
    //padding-bottom: 10px;
  }
}

/* -- Layouts -- */
#mainmenu * {
  z-index: 9999;
}
#metaslider * {
  z-index: 1;
}/* //-- Layouts -- */



header {
  .phone {
    border: 0px solid red;
    text-align: right;
    color: #999999;
    font-weight: bold;
    font-size: 2.2em;
    font-family: 'Montserrat', sans-serif;
  }
  .fa-phone, u {
    color: #47A3DA;
    text-decoration: none; 
  }
}

.form-control[type=submit] {
  background-color: #2C6EBD !important;
}
.form-control[type=submit]:hover {
  background-color: #9fc960 !important;
  color: #fff;
}
.fa-laptop {
  color: white ;
}

.social {
  //border: 1px solid red;
  width: 100%;
  div {
    display: block;
    float: right;
    margin-left: 4px; 
  }
  a {
    font-size: 1.7em;
  }
  i {
    text-align: center;
    margin-top: 1px;
    display: block;
    color: #47A3DA;
  }
  i:hover, i:after {
    color: white;
  }
  //fix insta top
  .fa-instagram {
    margin-top: 2px;
  }
}

/* -- Brand -- */
.brand-warpaper {
  width: 300px;
  height: 185px;
  .img-nocolor, .img-color {
    position: absolute;
    transition: all .5s;
    cursor: pointer;
  }
  .img-color {
    opacity: 0;
  }

  .img-color:hover, .img-color:focus {
    opacity: 1;
  }
  .img-nocolor:hover, .img-nocolor:focus {
    opacity: 0;
  }
}/* END-- Brand -- */



#authoritative {
  span {
    color: #FF1E12;
    font-weight: bold;
  }
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
  background-color: #2C6EBD;
  color: #fff;
  text-transform: uppercase;
}


/* -- Slider -- */
.flex-control-nav {
  display: none;
}
#metaslider {
  a span, h2 span, h3 span  { 
    color: white;
    padding: 0 10px 3px 10px;
    opacity: 0.8;
  }
  a span:hover, h2 span:hover, h3 span:hover  { 
    opacity: 1;
    cursor: pointer;
  }
  a span { 
    background-color: #9c9c9c;
  }
  h2 span, h3 span {
    background-color: #2C6EBD;
  }
  .caption .button {
    color: #9c9c9c;
  }
  .caption .button:hover, .caption .button:before, {
    color: black; 
  }
  li {
    borrder: 1px solid red;
    //background-image: url('/assets/backslide.gif');
    //background-color: #F0F0F0;
  }
}/* // -- Slider -- */

/*-- service --*/
#service {
  .swrapper {
    margin-top: 24px;
    padding-top: 24px;
    text-align: center;
  }
  .shead {
    color: white;
    background-color: #2C6EBD;
    display: inline-block;
  }
  .sblocks {
    p {
      color: #2A6082;
    }
    ul {
      padding: 14px 28px 14px 28px;
      background-color: rgba(71, 163, 218, 1);
      color: #fff;
    }
  }
  .container-fluid {
    margin-top: 24px;
    padding-bottom: 24px;
  }

  .shead, .hblocks {

  }
  .hblocks {
    //background-color: #EEEEEE;
    padding: 0;
    div {min-height: 54px;}
    p {
      padding-top: 8px;
      font-size:20px;
      text-transform: uppercase;
    }
    div>p>a {
      font-weight: 600;
    }
    a {

      color: #23527C;
    }
    a:focus, a:hover {
      color: #333;
    }
    ul {
      background-color: none !important;
      margin: 0;
      padding: 0;
      li {
        opacity: 0.8;
        background-color: #2C6EBD;
        border: 1px solid #EEEEEE;
        transition: all 0.3s ease-in-out; 
        -webkit-transition: all 0.3s ease-in-out;
        
        color: #fff;
        border: 1px solid #EEEEEE;
        width: 100%;
        padding: 18px 0 18px 0;
        
        padding: 14px;
      }
      li:before {
        content: "\f0a4\00A0\00A0";
        font-family: FontAwesome;
        color: #E8F380;
      }
      li:hover, li:focus {
        background-color: #fff;
        color: #2C6EBD;
      }
    }
  }
  p {
    padding: 0;
    margin: 0;
    font-size: 45px;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    text-indent: 0px;
  }
  text-transform: uppercase;
  background-color:#F0F0F0;

  /*background-color:#F0F0F0;
  ul {
    margin:0;
    padding:0;
  }
  li {
    display: block;
    div {
      background-color: #fff;
      float: left;
      padding: 14px;
      -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    }
    list-style: none;
    text-align: justify;
    h3 {
      text-align: left;
    }
  }*/


}/* // -- service --*/



/*-- Projects --*/
#projects {
  
  .projects-block {
    margin-top: 24px;
    padding: 24px;
    background-color: #fff;
  }
  .owl-element {
    padding:7px;
  }
  .owl-paper {
    padding: 7px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
  }

}
/*-- // Projects --*/



/*-- Utilize --*/
.utilize {
  height: 375px;
  padding-top: 24px;
  overflow: hidden;
  bottom: 0px !important;

}/*// -- Utilize --*/



/*-- TextWrap --*/
#pageWrap {
  /*-- For opacity --*/
  .page-header {
    background-position: center;
    height: 157px;
    width: 100%;
    display: block;
    position: relative;
    margin: 0px;
  }
  .page-header::after {
    content: "";
    background-color: #fff;
    //background: url(/assets/backslide.gif);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }/*-- // For opacity --*/
  
  .page-header {
    text-align: center;
    span {
      position: relative;
      top: 32%;
      padding: 5px;
      font-size:250%;
      background-color: white;
      color: #2A6082;
    }
  }
  .page-text {
    /*img {
      float: left;
      margin: 0 14px 14px 0; 
    }*/
    img {
      margin: 0 auto;
    }
    padding: 30px 0 60px 0;
    margin: 0 24px 0 24px;
    strong { color: #2A6082; }
    li {
      list-style: none;
    }
    li::before {
      content: "•\0009";
      color: #47A3DA;
    }
  }
}/*-- // TextWrap --*/

/*-- About Company --*/
#aboutcompany {
  background-color: #F8F8F8;
  .container {
    background-color: #fff;
  }
}/*-- // About Company --*/

/*-- Menu width --*/
.cbp-hrmenu > ul > li > a {
  padding: 1em 2em;
}/*-- // Menu width --*/

#backcall {
  input {
    margin: 0 0 12px 0;
    width: 100%;
  }
  * { border-radius: 0px; }
}


/*-- Tabs rewiews --*/
.page-text {.nav li::before{content: "" !important;}}
.nav-tabs {
  margin-top: 40px;
}
.tab-content {
  background-color: #fff;
  padding: 14px 24px 14px 24px;
  h3 {
    text-align: center;
   
  }
}
.img-reviews {
  float: left;
  margin: 0 14px 14px 0 !important;
}
.author-review {
  clear: both;
  float: right;
  p {
    text-align: right;
  }
}
/*-- // Tabs rewiews --*/

/* -- Tables -- */
.thead1 {
  background-color: #47A3DA;
  th {
    vertical-align: middle !important;
    text-align: center;
    color: white;
  }
}
.thead2 {
  background-color: #F1F3EE;
  th {
    font-style: italic;
    font-weight: normal;
  }
}
td[colspan] {
  text-align: center;
}
table, td, tr {
  color: #231F20;
  word-break: break-all !important;
}



/*-- Clients --*/
#clients {
  background-color: #fff;
}
.client_url {
  .col-md-9 {
    text-align: center;
    padding-top: 18px;
    font-size: 26px;
  }
}/*-- // Clients --*/

/*-- Information --*/
#information  {
  #pageWrap {
    a::before {
      content: "\f015\00A0\00A0";
      font-family: FontAwesome;
      color: #797979
    }
    border-bottom: 1px solid #2C6EBD;
    strong {
      color: #797979;
    }
    span {
      text-decoration: underline;
    }
  }
  .row {
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #ffffff;
  }
  .col-md-4>ul>li>a,.col-md-4>ul>a {
    color: blueviolet;
    font-weight: 600;
    font-size: 1.4em;
  }
}
.map-heigth {
  height: 424px;  
}
/*-- // Information --*/

/*-- Contact company --*/
.contact-company {
  .page-header {
    a::before {
      content: "\f015\00A0\00A0";
      font-family: FontAwesome;
      color: #797979
    }
  }
  .rekvizit {
    padding: 24px;
    background-color: #fff;
  }
}
/*-- // Contact company --*/

/*-- Footer --*/
#footer {
  .container {
    //border-top: 4px solid #47A3DA;
  }
  .adress td {
    color: #999999;
    i {
      color: #47A3DA;
    }
  }
  form>* {
    margin-bottom: 4px;
    border-radius: 0px;
  }
  form input[type="submit"] {
    background-color: #47A3DA;
    color: #ffffff !important;
    border: none;
  }
  form input[type="submit"]:hover {
    background-color: #87CEEB;
  }
  .time, .developed {
     color: #999999;
  }
}
aside .arrow:before {
  display: block;
  color: #47A3DA;
  background-color: #F8F8F8;
}

/*-- //Footer --*/

/*-----------------------------------------------------------------------------------*/
/*  RESPONSIVE STYLES
/*-----------------------------------------------------------------------------------*/

/* -- LOGO -- */
@media screen and (max-width: 1000px) {
  header {
    .phone {

    }
  }
}
@media screen and (max-width: 768px) {
  .authlogos {
    display: none;
  }
  .hero {
    h1 {
      font-size: 38px;
      line-height: 1.1;
      span {
        font-size: 16px;
        padding-bottom: 12px;
        line-height: 3;
      }
    }
  }
  .cbp-hrmenu {
    margin-top: -20px;
  }
}
@media screen and (max-width: 460px) {
  header {
    .phone {
      font-size: 1.5em;
    }
  }
}
@media screen and (max-width: 400px) {
}
@media screen and (max-width: 310px) {
  .logo {
  }
}/* -- //LOGO -- */

