<!DOCTYPE html>
<html>
<head>
  <title>Диджитал Сервис - Крупнейший в Липецке Авторизованный сервисный центр</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta name="description" content="Ремонт компьютеров и ноутбуков, смартфонов и планшетов, принтеров, МФУ и сканеров в Липецке. Утилизация электронного оборудования. Заправка картриджей">
  <meta name="keywords" content="Ремонт смартфонов и планшетов, Обслуживание и ремонт оргтехники, Ремонт смартфонов и планшетов, Обслуживание и ремонт компьютерной техники, Заправка картриджей, Продажа картриджей и расходных материалов, Консалтинг офисной техники, IT - Аутсорсинг, Контроль и управление печатью, Утилизация оборудования, Обслуживание и ремонт серверного оборудования, Продажа профессиональной и офисной техники, Service Desk,утилизация, ремонт телефонов, сервис-центр, сервис, сервис центр, сервисцентр, ремонт lenovo, ремонт смартфонов, ремонт смартфонов липецк, ремонт сотовых, ремонт сотовых телефонов, ремонт планшетов, ремонт ноутбуков, ремонт компьютеров, ремонт компьютеров липецк , компьютерная помощь, ремонт ноутбуков, ремонт пк, заправка картриджей, ремонт планшетов, ремонт принтеров, аутсорсинг, аутсорсинг печати, аутсорсинг техники, консалтинг, консалтинг печати, консалтинг техники, обслуживание серверов, обслуживание серверного оборудования, контроль печати, управление печатью" />
  <meta name="author" content="otklik.pw" />
  <meta property="og:title" content="Сломался компьютер? Горит сделка? Не печатает договор принтер? Срочно звони нам!">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:description" content="Ремонт и обслуживание компьютерной, мобильной и офисной техники. Утилизация электронного оборудования. Заправка и восстановление картиджей, профессиональной ремонт офисной техники, гарантийное обслуживание компьютеров">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
